@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


body {
  font-family: "Noto Naskh Arabic", "Amiri", "Scheherazade New", "Arial", "Tahoma", sans-serif;
  direction: rtl;
  background-color: whitesmoke;
}